:root{
  --sunset-yellow: rgba(255, 187, 0, 0.87);
  --tech-blue: rgb(0 195 255 / 35%);
  --core-green: rgb(0 255 80 / 35%);
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: rgb(31, 31, 31);
  color: white;
  margin: 0px;
  text-shadow: 2px 2px 4px black;
}

/* Header */

header {
  background-color: darkgray;
  background-image: url("/imgs/tutaekuri-river.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;  
  height: 300px;
}

.header-container{
  position: absolute;
  text-align: center;
  height: 300px;
  width: 100%;
  background-color: rgba(88, 88, 88, 0.1);
}

.header-text {  
  color: black;
  font-family: 'Luckiest Guy', cursive;
  font-size: clamp(3rem, 10vw, 5rem);
  font-style: italic;
  text-shadow: 1px 1px white;
  font-weight: 400;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
/* Nav */

.navbar{
  position: sticky;
  top: -1px;
  font-family: 'Luckiest Guy', cursive;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 40px;
  background-color: rgba(31, 31, 31, 0.8);
  margin: 0px;
}

nav ul {
  display: flex;  
  padding: 0;  
}

nav a{
  color: rgb(255, 255, 255);
  /* margin: auto; */
  text-decoration: none;
  
}

nav a:hover{
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  -webkit-background-clip: text;
  background-clip: text;
  text-decoration: underline;
  color: transparent;
  text-shadow: none;
  background-size: 1800% 100%;
  -webkit-animation: rainbow 9s ease infinite;
  -z-animation: rainbow 9s ease infinite;
  -o-animation: rainbow 9s ease infinite;
  animation: rainbow 9s ease infinite;
}

@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

.nav-item{
  list-style-type: none;
  height: 100%;  
  color: white;
  border-color: rgba(0, 0, 0, 0.95);
  border-style: none;
  margin-block: 0px;
  margin-inline: 20px;
  font-size: medium;
}

/* Nav Responsive Rules */

/* Typography */
.blog-box h1:first-child, h2:first-child, h3:first-child{
  margin-top: 10px;
}

.blog-box h3 {
  margin-bottom: 10px;
}
.blog-box p {
  padding-inline: 10px;
}

.center-text {
  margin-inline: auto;
}

.blog-box-text {
  padding-right: 20px;
}

.blog-list {
  list-style-type: none;
}

.img-card-text{
  color: black;
  text-align: center;
  padding: 10px 20px;
}

.text-blue{
  color: rgb(72, 192, 240);
}

#text-red {
  color: rgb(255, 53, 53);
}

.text-yellow{
  color: rgb(255, 204, 0);
}

.text-green {
  color: green;
}

.center-text {
  padding: auto;
}

li {
  margin-block-end: 0.5em;
}

p {
  line-height: 1.25em;
}

/* Content */

main{
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.blog-box {
  width: 100%;  
  display: flex;
  flex-direction: column;
  min-width: 210px;
  align-self: center;
  background-color: rgb(38, 38, 38);
  padding: 1px 10px;
  margin: 15px 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.blog-box-text {
  border: 0;
  box-shadow: none;
  background-color: rgba(36, 36, 36, 0);
  flex-grow: 3;
}

.tech-blog-theme {
  box-shadow: 0px 0px 12px 0.5px var(--tech-blue);
}

.core-blog-theme {
  box-shadow: 0px 0px 20px 0.5px var(--core-green);
}

.blog-box img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-style:none;  
}

.sml-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;  
  justify-content: space-evenly;
}

.blog-box-sml {
  min-width: min-content;
  align-self: center;
  width: 33vw;
  margin-inline: 10px;  
}

.blog-box a {
  color: rgb(225, 225, 225);
}

.blog-box-w-img {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.blog-list {
  padding-right: 40px;
}

.blog-list li {
  border: 0px;
  border-bottom: 1px;
  border-color: var(--sunset-yellow);
  border-style: solid;
}

.tech-blog-list-theme li {
  border-color: var(--tech-blue);
}

.core-blog-list-theme li {
  border-color: var(--core-green);
}

.blog-list li:last-child {
  border: 0px;
}

.blog-list h3 {
  margin-bottom: 0px;
}

#blog-box-blue {
  background-color: blue;
}

.img-container {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-around;  
  padding-inline: 15px;
  gap: 15px;
  
}

.table {
  border: 3px dashed var(--sunset-yellow);
  border-collapse: collapse;
}

.table td{
  padding-inline: 10px;
  
}

.table th {
  padding-block: 5px;
}

table pre {
  margin-block: 0;
}

pre {
  margin-block: 0;
  margin-inline: auto;
  white-space: pre-wrap;
  
  padding: 1em;
  border-radius: 1em;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.3);
}

.wrap-text {
  white-space: break-spaces;
}

.grid-table {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-auto-rows:1fr;  
  justify-items: center;
  align-items: center;
  padding-inline: 10px;
}

.table-box{  
  display: grid;  
}

/* Image Card */

.img-card {
  min-width: 150px;
  background-color: rgb(238, 238, 238);
  box-shadow: 0 0 7px 3px rgb(0, 0, 0);
  margin-bottom: 10px;
  border-radius: 15px;
  margin-block: 10px;    
}

.img-med {
  max-width: 50vw;
  align-self: center;
}

/* Content Responsive Rules */

@media screen and (min-width: 800px){
  .blog-box {width: 100%;}
  .sml-container {
    flex-wrap: wrap;
    flex-direction: row;
  }  
}

@media screen and (max-width: 1000px){
  .img-container {
    flex-flow: column wrap;
    justify-content: center;
  }
}

/* img card wrap down */

@media screen and (max-width: 600px){
  .blog-box-w-img {
    flex-direction: column;
  }
  .grid-table {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    }
}

@media screen and (min-width: 1440px) {
  .blog-box {
    width: 80rem;
  }
}