:root{
  --imag-card-max-width: 200px;
  --sunset-yellow: rgba(255, 187, 0, 0.87);
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 0px;
}

/* Header */

header {
  font-family: 'Luckiest Guy', cursive;
  background-color: darkgray;
  background-image: url("/imgs/tutaekuri-river.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;  
  height: 300px;
}

.header-container{
  position: relative;
  text-align: center;
  height: 300px;
  width: 100%;
  background-color: rgba(88, 88, 88, 0.267);
}

.header-text {  
  color: black;
  font-family: 'Luckiest Guy', cursive;
  font-size: clamp(3rem, 10vw, 5rem);
  font-style: italic;
  text-shadow: 1px 1px white;
  font-weight: 400;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
/* Nav */

.navbar{
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0px;
  padding-inline-start: 10px;
}

nav ul {
  display: flex;  
  padding: 0;  
}

nav a{
  color: rgb(255, 255, 255);
  margin: auto;
  text-decoration: none;
}
.nav-item{
  list-style-type: none;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-color: rgba(0, 0, 0, 0.95);
  border-style: none;
  border-right-style: solid;
  border-width: 1px;
  margin-right: 20px;
  font-size: medium;
}

.nav-item:hover{
  background-color: rgba(0, 0, 0, 0.642);
}

.nav-item-left {

}

.nav-item-right {
}

/* Responsive Rules */

@media () {
  
}

/* Content */

main{
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.center-text {
  text-align: center;
}

.blog-box {
  width: 100%;  
  display: flex;
  flex-direction: column;
  min-width: 210px;
  align-self: center;
  background-color: rgba(36, 36, 36, 0.804);
  padding: 1px 10px;
  margin: 15px 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0.5px var(--sunset-yellow);
}

.blog-box h1:first-child{
  margin-top: 10px;
}

.blog-box h2:first-child{
  margin-top: 10px;
}
.blog-box h3:first-child{
  margin-top: 10px;
}

.blog-box h3 {
  margin-bottom: 10px;
}

.blog-box img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-style:none;  
  max-width: var(--imag-card-max-width);
}

.sml-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;  
  justify-content: space-evenly;
}

.blog-box-sml {
  min-width: min-content;
  align-self: center;
  width: 33vw;
  margin-inline: 10px;
  
}

.blog-box a {
  /* text-decoration: none; */
  color: rgb(225, 225, 225);
}

.blog-box-w-img {
  flex-direction: row;
  align-items: center;
  }

.blog-box-text {
  padding-right: 20px;
}

.blog-list {
  list-style-type: none;
  padding-right: 40px;
}

.blog-list li {
  border: 0px;
  border-bottom: 1px;
  border-color: var(--sunset-yellow);
  border-style: solid;
}

.blog-list li:last-child {
  border: 0px;
}

.blog-list h3 {
  margin-bottom: 0px;
}



/* Responsive Rules */

@media screen and (min-width: 800px){
  .blog-box {width: 100%;}
  .sml-container {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

/* img card wrap down */

@media screen and (max-width: 600px){
  .blog-box-w-img {
    flex-direction: column;
  }
}

/* Image Card */

.img-card {
  max-width: var(--imag-card-max-width);
  min-width: 150px;
  background-color: rgb(238, 238, 238);
  box-shadow: 0 0 7px 3px rgb(0, 0, 0);
  margin-bottom: 10px;
  border-radius: 15px;
  margin-block: 10px;  
}

.img-card-text{
  color: black;
  text-align: center;
  padding: 10px 20px;
}

.text-blue{
  color: rgb(72, 192, 240);

}

#text-red {
  color: rgb(255, 53, 53);
}

#blog-box-blue {
  background-color: blue;
}